.formContainer{
    background-color:white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        img{
            width: 100px;
        }

        .logo{
            color:rgb(92, 158, 92);
            font-weight: bold;
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid rgb(92, 158, 92);
            &::placeholder{
                color: rgb(175,175,175);
            }
            }
            
            button{
                background-color: rgb(92, 158, 92);
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
    }
}