body {
  background-image: url('./assets/plant.png'); /* Replace with a plant-themed background */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgba(131, 205, 151, 1) 0%, rgba(131, 205, 151, 0.7) 50%, rgba(255, 255, 255, 0.8) 100%); /* Pastel green gradient */
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title { 
  font-size: 42px; 
  font-family: 'Avenir'; 
  font-weight: 800; 
  letter-spacing: 0.5px; 
  color: #020202; /* Pastel green for text */
  padding-bottom: 12px; 
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Avenir';
  letter-spacing: 0.5px;
  color: #393939; /* Lighter pastel green for subtitle */
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(168, 192, 179); /* Light pastel green for labels */
  font-family: Avenir;
  width: 100px;
}
.auth-input {
  background-color: #e7efeb; /* Pastel green background for input */
  color: #4a5a57; /* Darker green text color */
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 36px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #97c1a9; /* Soft pastel green for button */
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all .44s ease;
}
.auth-button:hover { filter: brightness(110%); }

.chat-wrapper {
  height: 80vh; 
  width: 80%;
  margin-left: 10%; 
  color: white; 
  background: rgba(157, 213, 178, .95); /* Translucent pastel green background */
}
